/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.data-row {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.title {
  color: black;
}
.details-image {
  width: 50%;
}
